* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cascadia Mono", sans-serif;

}

body {
    font-family: sans-serif;
    /*background: linear-gradient(to bottom, rgb(26, 17, 35), rgb(188, 122, 255), rgb(113, 76, 152), rgb(162, 122, 255),rgb(26, 17, 35));*/
    background: radial-gradient(rgb(171, 147, 255),rgb(13, 1, 58)); 

}
video{
    border-radius: 15px;
    border: 3px solid white;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.324);
    border-radius: 10px;
    position: sticky;
    z-index: 999;
    top: 0;
    border: 3px solid white;
    width: 99%;
    margin: 15px 10px 0px 10px;

}

.nav-title {
    flex: 1;
    text-align: center;
    font-size: 28px;
    color: white;
}

.nav-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-links a {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: rgb(188, 123, 253);
    font-size: 22px;
}

.home_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s;
}

.home_button:hover {
    width: 60px;
    height: 60px;
}

/* İçerik stilleri */
.bg-transparan {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.324);
    border: 3px solid white;
    border-radius: 15px;
}

.gorilman-container {
    display: flex;
    width: 99%;
    margin: 15px 10px 0px 10px;
    flex-wrap: wrap;
    

}

.gorilman-left,
.gorilman-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    
}

.main-menu-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;


}

.gorilman-left img,
.gorilman-right img {
    width: 400px;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 1px -2px 38px 8px rgba(0, 0, 0, 0.52);
    transition: 0.5s;
    border: 3px solid white;
}

.gorilman-left img:hover,
.gorilman-right img:hover {
    width: 450px;
}

.text-content {
    text-align: center;
}

.text-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fff;
}

.text-content p {
    font-size: 18px;
    color: #fff;
}

/* Footer */
.footer {

    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    border: 3px solid white;
        width: 99%;
        margin: 15px 10px 0px 10px;
        bottom: 10px;
}

.title {
    font-size: 36px;
    margin-bottom: 40px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.menu-card {
    width: 250px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 1px -2px 38px 8px rgba(0, 0, 0, 0.52);
    text-decoration: none;
    color: black;
    transition: transform 0.3s;
}

.menu-card:hover {
    transform: scale(1.05);
}

.menu-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-card p {
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 1px -2px 38px 8px rgba(0, 0, 0, 0.52);
    cursor: pointer;
    transition-duration: 0.5s;
}

.gallery img:hover {
    width: 500px;
    height: 340px;
}
